<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Camera -->
    <xacro:macro name="camera" params=" *joint_origin camera robot">
        <link name="${camera['name']}_link">
            <collision>
                <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
                <geometry>
                    <cylinder radius="${camera['radius']}" length="${camera['length']}"/>
                </geometry>
            </collision>

            <visual>
                <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
                <geometry>
                    <cylinder radius="${camera['radius']}" length="${camera['length']}"/>
                <!-- TODO add mesh insertion capabilities -->
                </geometry>
            </visual>

            <inertial>
                <mass value="1e-5" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
            </inertial>
        </link>

        <joint name="${camera['name']}_joint" type="fixed">
            <axis xyz="0 1 0" />
            <xacro:insert_block name="joint_origin" />
            <parent link="${camera['parent_link']}"/>
            <child link="${camera['name']}_link"/>
        </joint>

        <gazebo reference="${camera['name']}_link">
            <material>Gazebo/Red</material>
        </gazebo>

        <gazebo reference="${camera['name']}_link">
            <sensor type="camera" name="${camera['name']}">
                <topic>${camera['image_topic']}</topic>
                <update_rate>${camera['update_rate']}</update_rate>
                <visualize>${camera['cam_view_visualize']}</visualize>
                <camera>
                    <horizontal_fov>${camera['horizontal_fov']}</horizontal_fov>
                    <image>
                        <width>${camera['width']}</width>
                        <height>${camera['height']}</height>
                        <format>${camera['format']}</format>
                    </image>
                    <clip>
                        <near>0.02</near>
                        <far>300</far>
                    </clip>
                    <noise>
                    <type>gaussian</type>
                    <!-- Noise is sampled independently per pixel on each frame.
                            That pixel's noise value is added to each of its color
                            channels, which at that point lie in the range [0,1]. -->
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                    </noise>
                    <camera_info_topic>${camera['info_topic']}</camera_info_topic>
                </camera>
                <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
                    <always_on>true</always_on>
                    <visualize>true</visualize>
                    <update_rate>30</update_rate>
                    <gz_frame_id>camera_rgb_frame</gz_frame_id>
                </plugin>
            </sensor>
        </gazebo>
    
    </xacro:macro>

    <!-- Lidar -->
    
</robot>